PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/easyerp?schema=public
SHADOW_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/easyerp_shadow?schema=public

DEFAULT_TENANT_NAME=Default Tenant
DEFAULT_TENANT_SLUG=default

SUPER_ADMIN_FULL_NAME=Super Admin
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=ChangeMe123!
VIETQR_CLIENT_ID=
VIETQR_API_KEY=
